#a {
  text-align: center;
  background-image: url("../assets/backgrounds/landing.jpg");
  background-size: cover;
  background-image: fixed;
  background-position: center;
  padding-bottom: 20px;
}

p.row {
  color: black;
}
<style type='text/css'>

#b {
  padding: 20px;
}

#breakfast {
  background-image: url("../assets/img/foodtop/breakfast.jpg");
  background-position: center;
  background-size: cover;
  padding-bottom: 90px;
  padding-top: 90px;
  text-align: center;
  text-decoration-color: white;
  content: center;
}
#lunch {
  background-image: url("../assets/img/foodtop/lunch.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-bottom: 90px;
  padding-top: 90px;
  text-decoration-color: white;
}
#dinner {
  background-image: url("../assets/img/foodtop/dinner.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-bottom: 90px;
  padding-top: 90px;
  text-decoration-color: white;
}
</style>

<style type='text.css'>


#fast {

}

#e {
  background-image: url("../assets/backgrounds/foodsBg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 90px;
}
#h {
  background-color: #F15A29;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 70px;
}

table {
}
h3 {
  color: white;
}

#g {
  background-image: url("../assets/backgrounds/subscribe.jpg");
  padding-bottom: 150px;
  padding-top: 120px;
  float: center;
  background-image: fixed;
}

.formButton {
  background-color: #F15A29;
  background-size: auto;
}

#dan {
  box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.75);
  margin-top: 100px;
  box-sizing:border-box;
  margin-left: 200px;
  margin-right: 200px;
}

#drinks {
  box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.5);
  box-sizing: border-box;
}
#foods {
  box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.75);
  box-sizing: border-box;
}

.cnt {
  background-color: white;
}
h3:hover {
  background-color: : white;
}

.text {
  text-align: center;
}
.formStyle {

}

#drink {
  text-align: right
}
.formButton {
  shape-outside: ellipse();
}
